# Prediction of Solar Energy Potential Based on Weather and Location Data

### Import Libraries and Settings

In [14]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.options.display.max_columns = 100
pd.set_option('display.max_colwidth', None)
# pd.set_option('display.float_format', '{:.15f}'.format)

# Requirements
print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

numpy version :  1.26.4
pandas version :  2.2.0
seaborn version :  0.13.2

#### Load Dataset (Jupyter Notebook)

In [15]:
df = pd.read_csv('Pasion et al dataset.csv')

#### Load Dataset (Google Colab)

In [16]:
# from google.colab import drive
# drive.mount('/content/drive')

# df = pd.read_csv('Pasion et al dataset.csv')

# Initial Data Understanding and Pre-Processing

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21045 entries, 0 to 21044
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       21045 non-null  object
 1   Date           21045 non-null  int64
 2   Time           21045 non-null  int64
 3   Latitude       21045 non-null  float64
 4   Longitude      21045 non-null  float64
 5   Altitude       21045 non-null  int64
 6   YRMODAHRMI     21045 non-null  float64
 7   Month          21045 non-null  int64
 8   Hour           21045 non-null  int64
 9   Season         21045 non-null  object
 10  Humidity       21045 non-null  float64
 11  AmbientTemp    21045 non-null  float64
 12  PolyPwr        21045 non-null  float64
 13  Wind.Speed     21045 non-null  int64
 14  Visibility     21045 non-null  float64
 15  Pressure       21045 non-null  float64
 16  Cloud.Ceiling  21045 non-null  int64
dtypes: float64(8), int64(7), object(2)
memory usage: 2.7+ MB

In [18]:
df.sample(20)

,Location,Date,Time,Latitude,Longitude,Altitude,YRMODAHRMI,Month,Hour,Season,Humidity,AmbientTemp,PolyPwr,Wind.Speed,Visibility,Pressure,Cloud.Ceiling
3899,Hill Weber,20180207,1300,41.15,-111.99,1370,2.018020e+11,2,13,Winter,37.09717,12.95982,17.03158,10,10.0,864.9,722
18228,Travis,20180807,1300,38.16,-121.56,1,2.018080e+11,8,13,Summer,30.81055,32.21771,13.88540,15,10.0,1008.2,722
3275,Hill Weber,20171006,1200,41.15,-111.99,1370,2.017100e+11,10,12,Fall,19.62891,32.23534,18.09632,7,10.0,859.3,722
16285,Travis,20170913,1400,38.16,-121.56,1,2.017090e+11,9,14,Fall,53.16772,27.05894,18.19859,30,10.0,1006.2,722
5424,JDMT,20170808,1100,26.98,-80.11,2,2.017080e+11,8,11,Summer,44.64111,40.56892,24.18877,14,10.0,1017.2,722
15410,Peterson,20180803,1100,38.82,-104.71,1879,2.018080e+11,8,11,Summer,17.24243,40.60165,15.55729,13,10.0,813.4,250
1668,Grissom,20180518,1000,40.67,-86.15,239,2.018050e+11,5,10,Spring,58.03223,22.53212,11.68572,18,10.0,987.2,120
1217,Grissom,20171128,1130,40.67,-86.15,239,2.017110e+11,11,11,Fall,40.48462,16.13968,3.34304,21,10.0,987.2,722
3012,Hill Weber,20170829,1100,41.15,-111.99,1370,2.017080e+11,8,11,Summer,19.07959,36.71432,11.85489,14,10.0,857.2,160
15464,Peterson,20180813,1100,38.82,-104.71,1879,2.018080e+11,8,11,Summer,13.53149,44.43359,16.19033,10,10.0,812.2,722
10603,March AFB,20180326,1300,33.90,-117.26,458,2.018030e+11,3,13,Spring,16.27808,20.05470,22.22413,18,10.0,960.1,722
3136,Hill Weber,20170917,1400,41.15,-111.99,1370,2.017090e+11,9,14,Fall,14.25171,39.95964,18.53097,5,10.0,853.4,722
11121,March AFB,20180726,1300,33.90,-117.26,458,2.018070e+11,7,13,Summer,22.22900,41.93604,17.95530,10,10.0,959.8,722
14860,Peterson,20180427,1400,38.82,-104.71,1879,2.018040e+11,4,14,Spring,8.55713,32.34612,20.23698,10,10.0,812.8,722
13183,Peterson,20170708,1000,38.82,-104.71,1879,2.017070e+11,7,10,Summer,8.86230,50.96451,15.83974,0,10.0,819.3,722
8360,Malmstrom,20180414,1000,47.52,-111.18,1043,2.018040e+11,4,10,Spring,48.80981,10.93559,9.81632,21,10.0,897.8,722
6580,JDMT,20180413,1400,26.98,-80.11,2,2.018040e+11,4,14,Spring,32.73926,38.09654,26.69944,11,10.0,1019.5,722
13764,Peterson,20171010,1400,38.82,-104.71,1879,2.017100e+11,10,14,Fall,15.20386,23.32016,14.89207,11,10.0,817.0,722
1124,Grissom,20171108,1500,40.67,-86.15,239,2.017110e+11,11,15,Fall,17.75513,25.77744,7.13932,3,10.0,995.1,722
15762,Travis,20170614,1000,38.16,-121.56,1,2.017060e+11,6,10,Summer,37.78687,29.65721,16.57024,7,9.1,1011.9,722

Just from these information, there are some useful insight to this data that understanding it could make it easier for further analysis and feature transformation, they are :
- Date feature have the wrong format should be in datetime instead of integer
- Time feature values are wrong because it's written in the format of hour:minute but because of it's data time is integer, it became hourminute (ex : 10:00 -> 1000)
- Latitude and Longitude are useful if we want to make it into geographical plot in Tableau or similar tools, but in here it's already represented by Location
- YRMODAHRMI (year, month, day, hour, minute) is actually similar to Date, but it has more detailed date information, probably will check what the values are like since it has so many digits
- There are also separate feature for Month and Hour, we could use this and even though we could extract similar information in YRMODAHRMI feature
- As for categorical feature like Location and Season potentially could be encoded by one-hot enxoding
- Several features scientifically could have high correlation to each other for example Altitude with Pressure and Humidity, but we will check details of this later in bivariate analysis
- Feature PolyPwr is the target variable, we could move it to the last order in dataframe (personal preference)

**! Update on the values of YRMODAHRMI feature** : 

- It does not actually represent year, month, day, hour, minute completely. This in investigated using the pd.set_option('display.float_format', '{:.15f}'.format) to set the values in pandas so that we can see all the digits but here is the example value of the YRMODAHRMI feature 201712000000.000000000000000.

- It can be seen that it only gives you the information of year and month only, so this feature will not be used later.

Which means as for the date and time information, the only ones that we could extract other than the avaible ones are year and day only (month and hour already have their own)

In [13]:
# # Initial data transformation :  converting column name to lowercase
# df.columns = df.columns.str.lower()

In [28]:
#Extract year and day value
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Day'] = df['Date'].dt.day

In [31]:
# Re-arrange the columns (PolyPwr in last)
df_1 = df.drop(columns='PolyPwr')
df_2 = df['PolyPwr']
df = pd.concat([df_1, df_2], axis='columns')

In [ ]:
#Drop some unnecessary columns

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21045 entries, 0 to 21044
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       21045 non-null  object
 1   Date           21045 non-null  datetime64[ns]
 2   Time           21045 non-null  int64
 3   Latitude       21045 non-null  float64
 4   Longitude      21045 non-null  float64
 5   Altitude       21045 non-null  int64
 6   YRMODAHRMI     21045 non-null  float64
 7   Month          21045 non-null  int64
 8   Hour           21045 non-null  int64
 9   Season         21045 non-null  object
 10  Humidity       21045 non-null  float64
 11  AmbientTemp    21045 non-null  float64
 12  Wind.Speed     21045 non-null  int64
 13  Visibility     21045 non-null  float64
 14  Pressure       21045 non-null  float64
 15  Cloud.Ceiling  21045 non-null  int64
 16  Year           21045 non-null  int32
 17  Day            21045 non-null  int32
 18  PolyPwr        21045 non-null  float64
dtypes: datetime64[ns](1), float64(8), int32(2), int64(6), object(2)
memory usage: 2.9+ MB

In [13]:
#Checking missing values
df.isna().sum()

Location         0
Date             0
Time             0
Latitude         0
Longitude        0
Altitude         0
YRMODAHRMI       0
Month            0
Hour             0
Season           0
Humidity         0
AmbientTemp      0
PolyPwr          0
Wind.Speed       0
Visibility       0
Pressure         0
Cloud.Ceiling    0
dtype: int64

In [12]:
#Checking amount of duplicated values
df.duplicated().sum()

0

There are no missing or duplicated values in this dataset

# Descriptive Statistics

In [10]:
#Describe numerical columns
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Date,21045.0,2.017720e+07,4.579585e+03,2.017052e+07,2.017111e+07,2.018032e+07,2.018062e+07,2.018100e+07
Time,21045.0,1.267484e+03,1.676028e+02,1.000000e+03,1.100000e+03,1.300000e+03,1.400000e+03,1.545000e+03
Latitude,21045.0,3.821382e+01,6.323761e+00,2.089000e+01,3.816000e+01,3.895000e+01,4.115000e+01,4.752000e+01
Longitude,21045.0,-1.085937e+02,1.636413e+01,-1.564400e+02,-1.172600e+02,-1.111800e+02,-1.047100e+02,-8.011000e+01
Altitude,21045.0,7.988437e+02,7.706818e+02,1.000000e+00,2.000000e+00,4.580000e+02,1.370000e+03,1.947000e+03
YRMODAHRMI,21045.0,2.017718e+11,4.579846e+07,2.017050e+11,2.017110e+11,2.018030e+11,2.018060e+11,2.018100e+11
Month,21045.0,6.565883e+00,2.983958e+00,1.000000e+00,4.000000e+00,7.000000e+00,9.000000e+00,1.200000e+01
Hour,21045.0,1.262785e+01,1.672952e+00,1.000000e+01,1.100000e+01,1.300000e+01,1.400000e+01,1.500000e+01
Humidity,21045.0,3.712194e+01,2.382301e+01,0.000000e+00,1.752930e+01,3.312378e+01,5.259399e+01,9.998779e+01
AmbientTemp,21045.0,2.928512e+01,1.236682e+01,-1.998177e+01,2.191528e+01,3.028915e+01,3.747467e+01,6.573837e+01
PolyPwr,21045.0,1.297858e+01,7.123255e+00,2.573300e-01,6.404570e+00,1.379870e+01,1.886365e+01,3.428502e+01
Wind.Speed,21045.0,1.031832e+01,6.385030e+00,0.000000e+00,6.000000e+00,9.000000e+00,1.400000e+01,4.900000e+01
Visibility,21045.0,9.700071e+00,1.351949e+00,0.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
Pressure,21045.0,9.259447e+02,8.521566e+01,7.817000e+02,8.455000e+02,9.611000e+02,1.008900e+03,1.029500e+03
Cloud.Ceiling,21045.0,5.159668e+02,3.019034e+02,0.000000e+00,1.400000e+02,7.220000e+02,7.220000e+02,7.220000e+02

In [15]:
#Describe categorical columns
df.select_dtypes('object').describe().transpose()

          count unique     top  freq
Location  21045     12  Travis  2746
Season    21045      4  Summer  8208