# Prediction of Solar Energy Potential Based on Weather and Location Data

### Import Libraries and Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.options.display.max_columns = 100
pd.set_option('display.max_colwidth', None)

# Requirements
print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

numpy version :  1.26.4
pandas version :  2.2.0
seaborn version :  0.13.2

#### Load Dataset (Jupyter Notebook)

In [2]:
df = pd.read_csv('Pasion et al dataset.csv')

#### Load Dataset (Google Colab)

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

# df = pd.read_csv('Pasion et al dataset.csv')

# Initial Data Understanding and Pre-Processing

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21045 entries, 0 to 21044
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       21045 non-null  object
 1   Date           21045 non-null  int64
 2   Time           21045 non-null  int64
 3   Latitude       21045 non-null  float64
 4   Longitude      21045 non-null  float64
 5   Altitude       21045 non-null  int64
 6   YRMODAHRMI     21045 non-null  float64
 7   Month          21045 non-null  int64
 8   Hour           21045 non-null  int64
 9   Season         21045 non-null  object
 10  Humidity       21045 non-null  float64
 11  AmbientTemp    21045 non-null  float64
 12  PolyPwr        21045 non-null  float64
 13  Wind.Speed     21045 non-null  int64
 14  Visibility     21045 non-null  float64
 15  Pressure       21045 non-null  float64
 16  Cloud.Ceiling  21045 non-null  int64
dtypes: float64(8), int64(7), object(2)
memory usage: 2.7+ MB

In [9]:
df.sample(20)

,Location,Date,Time,Latitude,Longitude,Altitude,YRMODAHRMI,Month,Hour,Season,Humidity,AmbientTemp,PolyPwr,Wind.Speed,Visibility,Pressure,Cloud.Ceiling
611,Camp Murray,20180629,1100,47.11,-122.57,84,2.018060e+11,6,11,Summer,27.46582,34.18907,24.84334,3,10.0,1008.9,100
15467,Peterson,20180813,1500,38.82,-104.71,1879,2.018080e+11,8,15,Summer,15.28931,38.77380,16.66081,9,10.0,811.7,722
7336,Kahului,20180406,1000,20.89,-156.44,2,2.018040e+11,4,10,Spring,99.34082,23.17162,1.19625,13,2.5,1017.5,8
12872,Offutt,20180804,1115,41.13,-95.75,380,2.018080e+11,8,11,Summer,96.44775,24.45816,4.63899,10,10.0,975.1,50
1318,Grissom,20171220,1200,40.67,-86.15,239,2.017120e+11,12,12,Winter,50.68359,9.08257,3.94127,9,10.0,990.2,722
14398,Peterson,20180203,1200,38.82,-104.71,1879,2.018020e+11,2,12,Winter,4.99268,34.89403,9.89062,11,10.0,806.0,722
7595,Kahului,20180525,1400,20.89,-156.44,2,2.018050e+11,5,14,Spring,56.35376,30.29671,24.73989,24,10.0,1016.1,722
20970,USAFA,20180912,1330,38.95,-104.83,1947,2.018090e+11,9,13,Fall,8.69751,47.74940,16.19746,16,10.0,797.3,722
7816,Malmstrom,20171210,1400,47.52,-111.18,1043,2.017120e+11,12,14,Winter,15.17944,12.93716,2.35719,26,10.0,904.6,140
18495,USAFA,20170527,1100,38.95,-104.83,1947,2.017050e+11,5,11,Spring,28.87573,23.17917,3.70381,0,10.0,799.5,43
19197,USAFA,20170829,1500,38.95,-104.83,1947,2.017080e+11,8,15,Summer,9.56421,59.91241,13.25770,11,10.0,804.2,722
17588,Travis,20180416,1245,38.16,-121.56,1,2.018040e+11,4,12,Spring,56.23779,17.50175,4.22255,14,10.0,1013.3,33
8838,Malmstrom,20180703,1400,47.52,-111.18,1043,2.018070e+11,7,14,Summer,57.68433,15.44731,2.60346,10,10.0,895.7,49
16116,Travis,20170814,1500,38.16,-121.56,1,2.017080e+11,8,15,Summer,41.29028,29.11591,18.70654,20,10.0,1006.5,722
7027,Kahului,20180114,1500,20.89,-156.44,2,2.018010e+11,1,15,Winter,64.14795,28.47641,12.50859,8,10.0,1013.8,722
4427,Hill Weber,20180616,1100,41.15,-111.99,1370,2.018060e+11,6,11,Summer,22.28394,33.49419,16.52579,8,10.0,846.4,722
2597,Grissom,20181004,1100,40.67,-86.15,239,2.018100e+11,10,11,Fall,75.14038,21.25816,3.04796,13,10.0,988.2,22
1101,Camp Murray,20180930,1000,47.11,-122.57,84,2.018090e+11,9,10,Fall,78.56445,18.73795,2.35759,3,10.0,999.5,80
18674,USAFA,20170619,1200,38.95,-104.83,1947,2.017060e+11,6,12,Summer,15.21606,39.34029,18.76064,3,10.0,805.3,722
17693,Travis,20180504,1300,38.16,-121.56,1,2.018050e+11,5,13,Spring,31.67114,34.20670,19.70055,7,8.0,1019.7,722

Just from these information, there are some useful insight to this data that understanding it could make it easier for further analysis and feature transformation, they are :
- Date feature have the wrong format should be in datetime instead of integer
- Time feature values are wrong because it's written in the format of hour:minute but because of it's data time is integer, it became hourminute (ex : 10:00 -> 1000)
- Latitude and Longitude are useful if we want to make it into geographical plot in Tableau or similar tools, but in here it's already represented by Location
- YRMODAHRMI (year, month, day, hour, minute) is actually similar to Date, but it has more detailed date information, probably will check the values are like
- There are also separate feature for Month and Hour, we could use this and even though we could extract similar information in YRMODAHRMI feature
- As for categorical feature like Location and Season potentially could be encoded by one-hot enxoding
- Several features scientifically could have high correlation to each other for example Altitude with Pressure and Humidity, but we will check details of this later in bivariate analysis
- Feature PolyPwr is the target variable, we could move it to the last order in dataframe (personal preference)

In [ ]:
# # Initial data transformation :  converting column name to lowercase
# df.columns = df.columns.str.lower()

In [ ]:
#Transform and drop date and time features

In [13]:
#Checking missing values
df.isna().sum()

Location         0
Date             0
Time             0
Latitude         0
Longitude        0
Altitude         0
YRMODAHRMI       0
Month            0
Hour             0
Season           0
Humidity         0
AmbientTemp      0
PolyPwr          0
Wind.Speed       0
Visibility       0
Pressure         0
Cloud.Ceiling    0
dtype: int64

In [12]:
#Checking amount of duplicated values
df.duplicated().sum()

0

There are no missing or duplicated values in this dataset

# Descriptive Statistics

In [10]:
#Describe numerical columns
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Date,21045.0,2.017720e+07,4.579585e+03,2.017052e+07,2.017111e+07,2.018032e+07,2.018062e+07,2.018100e+07
Time,21045.0,1.267484e+03,1.676028e+02,1.000000e+03,1.100000e+03,1.300000e+03,1.400000e+03,1.545000e+03
Latitude,21045.0,3.821382e+01,6.323761e+00,2.089000e+01,3.816000e+01,3.895000e+01,4.115000e+01,4.752000e+01
Longitude,21045.0,-1.085937e+02,1.636413e+01,-1.564400e+02,-1.172600e+02,-1.111800e+02,-1.047100e+02,-8.011000e+01
Altitude,21045.0,7.988437e+02,7.706818e+02,1.000000e+00,2.000000e+00,4.580000e+02,1.370000e+03,1.947000e+03
YRMODAHRMI,21045.0,2.017718e+11,4.579846e+07,2.017050e+11,2.017110e+11,2.018030e+11,2.018060e+11,2.018100e+11
Month,21045.0,6.565883e+00,2.983958e+00,1.000000e+00,4.000000e+00,7.000000e+00,9.000000e+00,1.200000e+01
Hour,21045.0,1.262785e+01,1.672952e+00,1.000000e+01,1.100000e+01,1.300000e+01,1.400000e+01,1.500000e+01
Humidity,21045.0,3.712194e+01,2.382301e+01,0.000000e+00,1.752930e+01,3.312378e+01,5.259399e+01,9.998779e+01
AmbientTemp,21045.0,2.928512e+01,1.236682e+01,-1.998177e+01,2.191528e+01,3.028915e+01,3.747467e+01,6.573837e+01
PolyPwr,21045.0,1.297858e+01,7.123255e+00,2.573300e-01,6.404570e+00,1.379870e+01,1.886365e+01,3.428502e+01
Wind.Speed,21045.0,1.031832e+01,6.385030e+00,0.000000e+00,6.000000e+00,9.000000e+00,1.400000e+01,4.900000e+01
Visibility,21045.0,9.700071e+00,1.351949e+00,0.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
Pressure,21045.0,9.259447e+02,8.521566e+01,7.817000e+02,8.455000e+02,9.611000e+02,1.008900e+03,1.029500e+03
Cloud.Ceiling,21045.0,5.159668e+02,3.019034e+02,0.000000e+00,1.400000e+02,7.220000e+02,7.220000e+02,7.220000e+02

In [15]:
#Describe categorical columns
df.select_dtypes('object').describe().transpose()

          count unique     top  freq
Location  21045     12  Travis  2746
Season    21045      4  Summer  8208